
/* Come back and change colors maybe */
:root{
    --main: #9FB4BA;
    --secondary: #437281;
    --third: #45565c;
    --accent:#f5b776;
}


*{
    font-family:Lucida Sans Unicode, Georgia, 'Times New Roman', Times, serif ;
    color: #17313a;
}

body{
    background-image: linear-gradient( var(--secondary) ,var(--main) 50%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bookList{
    display: flex;

}

.bookWrapper{ 
    border: 2px var(--third) solid;
    margin: 25px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--accent);

}

input{
    border: none;
    border-radius: 5px ;
}


button{
    background-color: rgb(217, 222, 226);
    color: steelblue;
    border-radius: 7px;
    border: 1px solid steelblue;
    width: 70px;
}

button:hover{
    color: aliceblue;
    background: steelblue;
}

#addBtn{
    width: 100%;
}

#openForm{
    width: auto;
}

::backdrop{
    background: rgb(72, 100, 109);
    opacity: .75;
}

dialog{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px var(--main);
    scale: 1.2;
    background: var(--secondary);
}

h2{
    margin-left: 2rem;
}

.header{
    padding-left: 45%;
}

#openForm{
    margin-left: 48%;
    height: 35px;
    width: 120px;
}

.bookWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delBtn{
    margin-top: -15px;
}

.bookWrapper > button{
    width: 75px;
}

.statusBtn{
    margin-bottom: -10px;
}
